p {
  text-align: center;
}

h1 {
  text-align: center;
  color: green;
  background: white;
  margin-top: -55px;
  position: relative;
  padding: 20px;
  font-size: 100px;
  font-family: Creepster;
  text-shadow: 0 2px 0 yellow,
                0 5px 0 yellowgreen;
}

.baby {
  position: absolute;
  top: 100px;
}

.baby--left {
  left: 20px;
}

.baby--right {
  right: 20px;
  width: 50%;
  cursor: pointer;
  text-align: right;
}
